/* Rubriker */
h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #333; /* Ändra färg efter behov */
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

/* Paragrafer */
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin: 2px;
    line-height: 1.5;
    color: #555; /* Ändra färg efter behov */
}
